#page-container
  width: 100vw
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  min-height: -webkit-fill-available
  color: #fff
  font-family: 'bQSUfYhuCn5q'

  .step
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-size: cover
    background-position: center

    &#step1-container
      background-image: url('../../assets/step1-min.jpg')

    &#step2-container
      display: flex
      align-items: center
      justify-content: center

      #step2-background
        position: absolute
        top: 10px
        left: 10px
        height: calc(100% - 20px)
        width: calc(100% - 20px)
        background-size: cover
        background-position: center
        background-image: url('../../assets/step2-min.jpg')
        border-radius: 20px

      #step2-form
        z-index: 20
        display: grid
        grid-template-rows: 2
        grid-template-columns: 2
        grid-row-gap: 40px
        grid-column-gap: 40px

        .input-group
          display: flex
          flex-direction: column

          label
            margin-bottom: 4px

          input, textarea
            background: none
            border: 2px solid #fff
            padding: 5px 10px
            color: #fff
            font-size: 16px
            outline: none
            -webkit-tap-highlight-color: none
            font-family: 'bQSUfYhuCn5q'

            &::placeholder
              color: #eee

        #from-group
          grid-row: 1
          grid-column: 1

        #to-group
          grid-row: 1
          grid-column: 2

        #message-group
          grid-row: 2
          grid-column-start: 1
          grid-column-end: 3

  #next-btn
    position: absolute
    bottom: 100px
    right: 100px



.btn
  border: 2px solid #fff
  padding: 10px 20px
  user-select: none
  -webkit-tap-highlight-color: none
  cursor: pointer
  transition: all .2s ease
  font-size: 16px
  background: none
  color: #fff
  font-family: 'bQSUfYhuCn5q'

  &:hover
    background: #fff
    color: #000

#policy-container
  position: absolute
  top: 0
  left: 0
  width: 100vw
  background: rgba(0,0,0,.2)
  z-index: 20
  backdrop-filter: blur(10px)
  color: #fff
  font-family: Arial, Helvetica, sans-serif
  display: flex
  align-items: center
  justify-content: center
  box-sizing: border-box

  #policy-content
    padding: 40px
    padding-top: 20px
    background: #6787ED
    border: 5px solid #fff
    margin: 20px
    box-sizing: border-box
    overflow: scroll

    a
      color: inherit

    #x-close-btn-container
      font-size: 2em
      margin-bottom: 10px
      display: flex
      justify-content: flex-end

      #x-close-btn
        display: inline-flex
        cursor: pointer

    #close-btn
      outline: none
      -webkit-tap-highlight-color: none
      border: 3px solid #fff
      background: #F3E25D
      color: #6787ED
      padding: 8px 12px
      font-family: Arial, Helvetica, sans-serif
      font-weight: bold
      cursor: pointer
      user-select: none
      margin-top: 40px
      display: inline-flex

.screen-btn
  outline: none
  -webkit-tap-highlight-color: none
  border: 3px solid #fff
  background: #6787ED
  color: #fff
  padding: 10px 20px
  font-family: Arial, Helvetica, sans-serif
  font-size: 1.4em
  font-weight: bold
  cursor: pointer
  user-select: none

  @media screen and (max-width: 600px)
    font-size: 1em

@keyframes fadein
  0%
    opacity: 0

  100%
    opacity: 1

