#page-container
  width: 100vw
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  min-height: -webkit-fill-available
  color: #fff
  font-family: 'bQSUfYhuCn5q'
  background: linear-gradient(0deg, rgba(229,89,5,1) 0%, rgba(205,221,235,1) 60%, rgba(205,221,235,1) 100%)

  .step
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-size: cover
    background-position: center

    &#start-container
      background-image: url('../../assets/step1-min.jpg')

    &#form-container
      display: flex
      align-items: center
      justify-content: center

      #form-background
        position: absolute
        // top: 10px
        // left: 10px
        // height: calc(100% - 20px)
        // width: calc(100% - 20px)
        // border-radius: 20px
        top: 0
        left: 0
        height: 100%
        width: 100%
        background-size: cover
        background-position: center
        background-image: url('../../assets/step2-min.jpg')

      #overlay
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0,0,0,.2)
        backdrop-filter: blur(20px)

        #content-form
          z-index: 20
          display: grid
          grid-template-rows: 2
          grid-template-columns: 2
          grid-row-gap: 40px
          grid-column-gap: 40px

          .input-group
            display: flex
            flex-direction: column

            label
              margin-bottom: 4px

            input, textarea
              background: none
              border: 2px solid #fff
              padding: 5px 10px
              color: #fff
              font-size: 16px
              outline: none
              -webkit-tap-highlight-color: none
              font-family: 'bQSUfYhuCn5q'

              &::placeholder
                color: #eee

            textarea
              padding: 10px 10px !important
              resize: none

        #from-group
          grid-row: 1
          grid-column: 1

        #to-group
          grid-row: 1
          grid-column: 2

        #message-group
          grid-row: 2
          grid-column-start: 1
          grid-column-end: 3

      .overlay-content-container
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        display: flex
        align-items: center
        justify-content: center

      #presave-wrapper
        z-index: 21
        display: grid
        grid-template-rows: 3
        grid-template-columns: 4
        row-gap: 40px
        column-gap: 80px

        #presave-title
          grid-row: 1
          grid-column-start: 1
          grid-column-end: 5
          text-align: center

        .save-option
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          user-select: none
          cursor: pointer

          img
            height: 200px
            width: 200px

          .save-btn
            display: inline-table
            margin-top: 40px

        #spotify-option
          grid-row: 2
          grid-column-start: 1
          grid-column-end: 3

        #apple-option
          grid-row: 2
          grid-column-start: 3
          grid-column-end: 5


  #next-btn
    position: absolute
    bottom: 100px
    right: 100px

  #consent-message-container
    position: absolute
    bottom: 100px
    right: 100px
    display: flex
    align-items: center

    #consent-text-wrapper
      text-align: right

      #consent-message
        font-weigth: normal
        margin-bottom: 2px

      #consent-policy-link
        cursor: pointer
        user-select: none

    .btn
      margin-left: 20px

#policy-container
  position: absolute
  top: 0
  left: 0
  width: 100vw
  background: rgba(0,0,0,.2)
  z-index: 20
  backdrop-filter: blur(20px)
  color: #fff
  font-family: Arial, Helvetica, sans-serif
  display: flex
  align-items: center
  justify-content: center
  box-sizing: border-box

  #policy-content
    padding: 40px
    padding-top: 20px
    background: #ff8336
    border: 5px solid #fff
    margin: 20px
    box-sizing: border-box
    overflow-y: auto

    a
      color: inherit

    #x-close-btn-container
      font-size: 2em
      margin-bottom: 10px
      display: flex
      justify-content: flex-end

      #x-close-btn
        display: inline-flex
        cursor: pointer

    #close-btn
      outline: none
      -webkit-tap-highlight-color: none
      border: 3px solid #fff
      background: none
      color: #fff
      padding: 8px 12px
      font-family: Arial, Helvetica, sans-serif
      font-weight: bold
      cursor: pointer
      user-select: none
      margin-top: 40px
      display: inline-flex
      transition: all .2s ease

      &:hover
        background: #fff
        color: #ff8336

@keyframes fadein
  0%
    opacity: 0

  100%
    opacity: 1

